{{#each item in data}}
    {{#if item.isActive}}
        <li class="active">{{#link-to item.routeName}}{{item.displayText}} <span class="sr-only">(current)</span>{{/link-to}}</li>
    {{else}}
        <li>{{#link-to item.routeName}}{{item.displayText}}{{/link-to}}</li>
    {{/if}}
{{/each}}

{{!--
--{{activeRoute}}==
<li class="active">{{#link-to "index.overview"}}Overview <span class="sr-only">(current)</span>{{/link-to}}</li>
<li><a href="#">{{#link-to "index.drop-down-menu"}}Drop Down{{/link-to}}</a></li>
<li><a href="#">Tabs</a></li>
<li><a href="#">Date Picker</a></li>
<li><a href="#">Data Table</a></li>
<li>=={{uiUtilService.currentPath}}++</li>


--}}